<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BedrockLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BedrockLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <BedrockLauncher.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.1.2.7</value>
            </setting>
            <setting name="GithubPage" serializeAs="String">
                <value>https://github.com/CarJem/BedrockLauncher</value>
            </setting>
        </BedrockLauncher.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <BedrockLauncher.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="ShowBetas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentInstallation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsFirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepLauncherOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowReleases" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentInsiderAccount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PortableMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveRedirection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FixedDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="HideJavaShortcut" serializeAs="String">
                <value>False</value>
            </setting>
        </BedrockLauncher.Properties.Settings>
    </userSettings>
</configuration>
