<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="File" name="allfile" fileName="data\logs\Log_${date:format=yyyy-MM-dd_HH-mm-ss:cached=true}.log" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>
</nlog>